.social iframe {
  vertical-align: middle;
}

.social div span {
  vertical-align:middle !important;
}

.social-image {
  margin-right: 10px;
}

ul.attendants > li {
  margin-bottom: 10px;
}

.login-button.btn.btn-block.btn-Twitter {
  padding-left: 10px;
  padding-right: 10px;
}
