body {
    padding-top: 50px;
}
body>.navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}
@media (min-width: 768px) {
    body>.navbar-transparent {
        background-color: transparent;
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent!important;
    }
}
