// rename to credentials.jason
{
  "sendgrid": {
    "username": "me",
    "password": "secret"
  },
  "twitter": {
    "consumerKey": "keykeykey",
    "secret": "secret"
  },
  "kadira": {
    "appId": "123456",
    "appSecret": "secret"
  }
}
