<template name="eventOverview">
  <div class="eventOverview well">
    <div class="eventOverview date pull-right">
      <p class="h4">
        {{#if isToday}}
          <span class="label label-warning">{{_ "today"}}</span>&nbsp;
          {{formatTime dateBegin}}
        {{ else }}
          {{formatDateShort dateBegin}}
        {{/if}}
      </p>
    </div>
    <h2>
      <img src="{{logoImage}}" class="img-thumbnail" height="96px" width="96px">
      {{title}}
    </h2>
    <hr />
    <p>
      <a href="{{pathFor 'eventPage'}}" class="btn btn-lg btn-primary">{{_ "button_more_infos"}}</a>
      {{#unless currentUserAttending}}
        <button href="" class="btn btn-lg btn-success join">{{_ "button_join"}}</button>
      {{/unless}}
    </p>

    {{#if attendants}}
    <hr />
    <h3>{{_ "attendees" count=attendantsCount}}</h3>
    {{#each attendants}}
      <img src="{{twitterImage}}" class="img-rounded social-image" height="48px" width="48px">
    {{/each}}
    {{/if}}
  </div>
</template>
