<template name="eventPage">
  <div class="page-header">
    <div class="eventOverview date pull-right">
      <p class="h4">
        {{#if isToday}}
          <span class="label label-warning">{{_ "today"}}</span>&nbsp;
        {{/if}}
        {{formatDateShort dateBegin}}
      </p>
    </div>
    <h1>
      <img src="{{logoImage}}" class="img-thumbnail" height="96px" width="96px"> {{title}}
    </h1>
  </div>

  {{#unless currentUserAttending}}
    <p>
      <button href="" class="btn btn-lg btn-success join btn-block">{{_ "button_join"}}</button>
    </p>
  {{/unless}}

  <div class="eventPage">

    {{#if attendants}}
      <h2 class="">
        {{attendantsCount}} {{_ "attendees"}}
      </h2>
      <ul class="list-unstyled attendants">
        {{#each attendants}}
          {{> attendant}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <hr />
  <h2>{{_ "organized_by"}}</h2>
  <p>
    <div class="social">
      <img src="{{twitterOrganizerImage}}" class="img-rounded social-image" height="48px" width="48px">
      {{#if phoneScreen }}
        {{> followButtonPhone user=twitterOrganizer}}
      {{else}}
        {{> followButtonDesktop user=twitterOrganizer}}
      {{/if}}
    </div>
  </p>
  <p>{{_ "website"}}: <a href="{{url}}" target="_blank">{{title}}</a></p>
</template>

<template name="attendant">
  <li>
    <div class="social">
      <img src="{{twitterImage}}" class="img-rounded social-image" height="48px" width="48px">
      {{#if phoneScreen }}
        {{> followButtonPhone user=twitterName}}
      {{else}}
        {{> followButtonDesktop user=twitterName}}
      {{/if}}
      {{#if myTwitterAccount}}
        <small>
          <a href="" class="leave">{{_ "link_leave"}}</a>
        </small>
      {{/if}}
    </div>
  </li>
</template>
