<template name="eventItem">
  <div class="eventItem" id="{{_id}}">
    <h3><a href="{{pathFor 'eventPage'}}">{{title}}</a></h3>
    {{#if attendants}}
    <p>
      Es sind {{attendantsCount}} Leute da!
    </p>
    <ul class="list-unstyled">
      {{#each attendants}}
        {{> attendant}}
      {{/each}}
    </ul>
    {{else}}
    <p>
      Es ist noch niemand da.
    </p>
    {{/if}}
    {{#if currentUser}}
      <a href="#" class="btn btn-primary">Ich bin da!</a>
    {{/if}}
    <p>Link: <a href="{{url}}" target="_blank">{{title}}</a></p>
  </div>
</template>

<template name="attendant">
  <li>
    <p>
      <img src="{{profile_image_url}}" class="img-rounded">
      {{screenName}}
      {{> followButton user=screenName}}
    </p>
  </li>
</template>

<template name="followButton">
  <iframe
    src="//platform.twitter.com/widgets/follow_button.html?screen_name={{user}}&lang=de&show_count=true&show_screen_name=true"
    style="width: 300px; height: 20px;"
    allowtransparency="true"
    frameborder="0"
    scrolling="no">
  </iframe>
</template>
