<template name="eventPage">
  <div class="page-header">
    <div class="eventOverview date pull-right">
      <p class="h4">
        {{#if isToday}}
          <span class="label label-warning">{{_ "today"}}</span>&nbsp;
          {{formatTime dateBegin}}
        {{ else }}
          {{formatDateShort dateBegin}}
        {{/if}}
      </p>
    </div>
    <h1>
      <img src="{{logoImage}}" class="img-thumbnail" height="96px" width="96px"> {{title}}
      {{#unless currentUserAttending}}
        <button href="" class="btn btn-lg btn-success join">{{_ "button_join"}}</button>
      {{/unless}}
    </h1>
  </div>

  <a href="https://twitter.com/intent/tweet?text={{urlEncode tweetContent}}&hashtags=hiccup,{{hashtag}}&url={{urlEncode currentUrl}}" class="btn btn-primary tell"><i class="fa fa-twitter"></i> {{_ "button_tell" }}</a>
  {{#if currentUserAttending}}
    <a href="" class="leave"> {{_ "link_leave"}}</a>
  {{/if}}

  {{#if attendants}}
    <h2 class="">
      {{_ "attendees" count=attendantsCount}}
    </h2>
    <ul class="list-unstyled attendants">
      {{#each attendants}}
        {{> attendant}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if currentUser}}
    <hr />
    {{> addAttendee }}
  {{/if}}

  <hr />
  <h2>{{_ "organized_by"}}</h2>
  <p>
    <div class="social">
      <img src="{{twitterOrganizerImage}}" class="img-rounded social-image" height="48px" width="48px">
      {{> followButton user=twitterOrganizer}}
    </div>
  </p>
  <p>{{_ "website"}}: <a href="{{url}}" target="_blank">{{title}}</a></p>
  <p>Twitter: <a href="https://twitter.com/hashtag/{{hashtag}}?src=hash" target="_blank">#{{hashtag}}</a></p>
</template>

<template name="attendant">
  <li>
    <img src="{{twitterImage}}" class="img-rounded social-image" height="48px" width="48px">
    {{> followButton user=twitterName}}
  </li>
</template>
