<template name="eventItem">
  <div class="eventItem well" id="{{_id}}">
    <h2>
      <img src="{{logoImage}}" class="img-thumbnail" height="48px" width="48px">
      {{title}}
      <small class="">{{attendantsCount}} Teilnehmer</small>
    </h2>
    <p>Webseite: <a href="{{url}}" target="_blank">{{title}}</a></p>

    {{#unless currentUserAttending}}
    <p>
      <button href="" class="btn btn-lg btn-success join">Ich nehme teil!</button>
    </p>
    {{/unless}}

    {{#if attendants}}
    <hr>
    <h3>Wir sind alle da:</h3>
    <ul class="list-unstyled attendants">
      {{#each attendants}}
        {{> attendant}}
      {{/each}}
    </ul>
    {{/if}}
  </div>
</template>

<template name="attendant">
  <li>
    <div class="social">
      <img src="{{twitterImage}}" class="img-rounded social-image">
      {{> followButton user=twitterName}}
      {{#if myTwitterAccount}}
        <small>
          <a href="" class="leave">Ich nehme doch nicht teil</a>
        </small>
      {{/if}}
    </div>
  </li>
</template>
