<template name="eventItem">
  <div class="eventItem" id="{{_id}}">
    <h3><img src="{{logoImage}}" class="img-thumbnail" height="40px" width="40px"> <a href="{{pathFor 'eventPage'}}">{{title}}</a></h3>
    {{#if attendants}}
    <p>
      Es sind {{attendantsCount}} Teilnehmer da!
    </p>
    <ul class="list-unstyled">
      {{#each attendants}}
        {{> attendant}}
      {{/each}}
    </ul>
    {{else}}
    <p>
      Es ist noch niemand da.
    </p>
    {{/if}}
    {{#if currentUserAttending}}
      <button href="#" class="btn btn-danger leave">Ich bin nicht da!</button>
    {{else}}
      <button href="#" class="btn btn-primary join">Ich bin da!</button>
    {{/if}}
    <p>Link: <a href="{{url}}" target="_blank">{{title}}</a></p>
  </div>
</template>

<template name="attendant">
  <li>
    <p>
      <img src="{{twitterImage}}" class="img-rounded">
      {{twitterName}}
      {{> followButton user=twitterName}}
    </p>
  </li>
</template>
