<template name="eventOverview">
  <div class="eventOverview well">
    <div class="eventOverview date pull-right">
      <p class="h4">
        {{#if isToday}}
          <span class="label label-warning">{{_ "today"}}</span>&nbsp;
          {{formatTime dateBegin}}
        {{ else }}
          {{formatDateShort dateBegin}}
        {{/if}}
      </p>
    </div>

    <h2>
      <a href="{{pathFor 'eventPage'}}"><img src="{{logoImage}}" class="img-thumbnail" height="96px" width="96px"></a>
      <a href="{{pathFor 'eventPage'}}">{{title}}</a>
    </h2>

    {{#if attendants}}
      <h3>{{_ "attendees" count=attendantsCount}}</h3>
      {{#each attendants}}
        <img src="{{twitterImage}}" class="img-rounded social-image" height="48px" width="48px">
      {{/each}}
    {{else}}
        <hr />
    {{/if}}
    {{#unless currentUserAttending}}
      <button href="" class="btn btn-lg btn-success join">{{_ "button_join"}}</button>
    {{/unless}}

  </div>
</template>
