<template name="eventOverview">
  <div class="eventOverview well">
    <div class="eventOverview date pull-right">
      <p class="h4">
        {{#if isToday}}
          <span class="label label-warning">Heute!</span>
        {{/if}}
        {{formatDateShort dateBegin}}
      </p>
    </div>
    <h2>
      <img src="{{logoImage}}" class="img-thumbnail" height="96px" width="96px">
      {{title}}
    </h2>
    <hr />
    <p>
      <a href="{{pathFor 'eventPage'}}" class="btn btn-lg btn-primary">Mehr Infos</a>
      {{#unless currentUserAttending}}
        <button href="" class="btn btn-lg btn-success join">Ich nehme teil!</button>
      {{/unless}}
    </p>

    {{#if attendants}}
    <hr />
    <h3>{{attendantsCount}} Teilnehmer</h3>
    {{#each attendants}}
      <img src="{{twitterImage}}" class="img-rounded social-image" height="48px" width="48px">
    {{/each}}
    {{/if}}
  </div>
</template>
